<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
	<location path="LoginAD.aspx">
		<system.webServer>
			<security>
				<authentication>
					<windowsAuthentication enabled="true"></windowsAuthentication>
				</authentication>
			</security>
		</system.webServer>
	</location>
</configuration>